.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.table {
    width: 100%;
}

.table td {
    text-align: center;
    padding-bottom: 10px;
}

.table td:hover {
    background: #bbc0ff;
}

/* .table tr {
    background: #eee;
} */

/* .table tr:nth-child(even) {
    background: #eee;
} */

.table tr:nth-child(odd) {
    background: #eee;
}

.table td:nth-child(2), .table td:nth-child(4) {
    background: #fff238;
}

.navbar {
    background: rgb(255, 0, 0);
    /* padding: 10px 20px; */
    margin-bottom: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
}

.navbar ul li {
    margin-right: 10px;
    padding: 10px;
}

.navbar ul li:hover {
    background: #ffcdcd;
}

.navbar ul li:last-child {
    margin-right: 0;
}



