/* inline, block, inline-block */

.inline li {
    display: block; 
}

.box {
    width: 32%;
    border: 1px solid black;
    background: #f4f4f4;
    display: inline-block;
    box-sizing: border-box;
}

.img {
    width: 200px;
    margin: auto;
    display: block;
}